
<!-- ניהול משתמשים - רק יוזר מחובר יכול להיכנס -->
@attribute [Authorize]
@page "/GamesList"
@inject HttpClient Http
@using AuthTemplate.Shared.Models;
@inject NavigationManager Nav;

@if (MyGamesList != null)
{
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>שם המשחק</th>
            <th>קוד המשחק</th>
            <th>מספר שאלות</th>
            <th> עריכה</th>
            <th>פרסום</th>
            <th>מחיקה</th>
        </tr>
        </thead>
        <tbody>
        @foreach (GameToTableDto game in MyGamesList)
        {
            <tr>
                <td>@game.gameID</td>
                <td>@game.gameName</td>
                <td>@game.gameCode</td>
                <td>@game.questionCount</td>
                <td><input type="button" value="✏️" @onclick="(()=>EditGame(game))"style="background: none; border: none; cursor: pointer;"/></td>

                <td>
                    @if (game.canPublish == false)
                    {
                        <input type="checkbox" disabled/>
                    }
                    else
                    {
                        <input type="checkbox" checked=@game.isPublish
                                                @onchange="(()=>changePublish(game))" />

                    }
                </td>
                <td><input type="button" value="🗑️" @onclick="(()=>DeleteGame(game))"style="background: none; border: none; cursor: pointer;"/></td>
            </tr>
        }
        </tbody>
    </table>
}
<p>הוספת משחק חדש</p>


@* כפתור שעוזר לנו להציג את הפופ-אפ של ההוספה *@
<input type="button" value="משחק חדש" @onclick="(() => showAddPopup = true)" />

@* אנחנו קוראים לקומפוננטה של הפופ-אפ כאשר הערך הוא TRUE *@
@if (showAddPopup)
{
    <AddGamePopup OnSave="CreateGame" OnCancel="(() => showAddPopup = false)" />
}


@if (msg != "")
{
    <p>@msg</p>
}

@code {
    // מופע של הDTO שיקושר לתיבת הטקסט
    GameToAddDto gameToAdd = new GameToAddDto(){ time = 60 };
// משתנה בוליאני בשביל תצוגת הפופ-אפ
    bool showAddPopup = false; 

    [CascadingParameter]
    private User user { get; set; }
    
// פתיחת מופע חדש של המחלקה
    List<GameToTableDto> MyGamesList;
    string msg = ""; 
    int userId = 0;
        //לאחר התחברות המשתמש
    protected override async Task OnParametersSetAsync()
    {
        if (user != null && user.Id > 0)
        {
            //פנייה לקונטרולר ושליפת המשחקים
            var gameResponse = await Http.GetAsync("api/Games/GameList");
            if (gameResponse.IsSuccessStatusCode)
            {
                //השמת הנתונים במופע שפתחנו
                MyGamesList = gameResponse.Content.ReadFromJsonAsync<List<GameToTableDto>>().Result;
            }
            else
            {
                //נטפל במצבים שהיוזר לא רשאי לגשת אל המידע ונאכלס משתנה של הודעה בהתאם
                string error = gameResponse.Content.ReadAsStringAsync().Result;
                ShowError(error);
            }
        }
    }
    //הפונקציה מקבלת את המשחק כפרמטר מהקומפוננטה
    async Task CreateGame(GameToAddDto gameFromPopup)
    {
        //שליחת המשחק החדש לקונטרולר
        var newGameRes = await Http.PostAsJsonAsync("api/Games/addGame/", gameFromPopup);
        if (newGameRes.IsSuccessStatusCode == true)
        {
            // העברתי כרגע להערה את כל מה שקשור לרשימה מכיוון שמייד לאחר "אישור" בפופ-אפ של יצירת משחק חדש עוברים לעמוד של הגדרות כלליות ואין צורך להציג את הרשימה
             //אם הרשימה ריקה נאתחל אותה
             if (MyGamesList == null)
             {
                 MyGamesList = new List<GameToTableDto>();
             }
             msg = "";
            //החזרת המשחק והוספתו לרשימת המשחקים כדי שיתווסף לטבלה
            GameToTableDto newGame = newGameRes.Content.ReadFromJsonAsync<GameToTableDto>().Result;
            MyGamesList.Add(newGame);
            //כדי שיהיה אפשר לנווט מהכפתור של יצירת משחק חדש אל העמוד של הגדרות כלליות יחד עם ה-ID של המשחק הֶחדש
            Nav.NavigateTo("./GeneralSettings/" + newGame.gameID.ToString());
            showAddPopup = false; 
        }
        else
        {
            string error = newGameRes.Content.ReadAsStringAsync().Result;
            //קוראים לפונקציה אם יש שגיאה
            ShowError(error);
            
        }
    }
//פנייה לשיטת המחיקה שבקונטרולר
    public async Task DeleteGame(GameToTableDto game)
    {
        if (game.gameID <= 0)
        {
            msg = "המזהה הייחודי איננו תקין"; 
        }
        else
        {
            msg = ""; 
            //אנחנו פונים לקונטורלר ושולחים לו גם את ה-ID למחיקה
            var deleteResponse = await Http.DeleteAsync("api/Games/deleteGame/" + game.gameID);
            if (deleteResponse.IsSuccessStatusCode == true)
            {
                MyGamesList.Remove(game); //אנחנו מוחקים המשחק מרשימת המשחקים
                msg = "המשחק נמחק בהצלחה"; 
            }
            else
            {
                //אם הסטטוס אינו תקין, המשתנה המחרוזתי מכיל את התוכן של השגיאה. 
                msg = deleteResponse.Content.ReadAsStringAsync().Result; 
            }



        }
    }
    
    //פנייה לשיטת קונטרולר שמטפלת בעריכה. 
    public async Task EditGame(GameToTableDto game)
    {
        ///
    }


    //שליחת בקשה לקונטרולר שמטפל בפרסום
     private async Task changePublish(GameToTableDto game)    {
        // בעת לחיצה על פרסום ניצור מופע של מחלקה עם מזהה המשחק ומצב הפרסום
        PublishGame gameToSend = new PublishGame();
        gameToSend.gameID = game.gameID;
	        // נגדיר שמצב הפרסום הפוך למצב הנוכחי. כלומר, אם לא היה מפורסם - כעת יהיה ולהיפך
        gameToSend.isPublish = !game.isPublish;
	        // נשלח את המידע לקונטרולר
        var userRes = await Http.PostAsJsonAsync("api/Games/publishGame", gameToSend);
	        // אם הכל תקין - נציג את מצב הפרסום העדכני
            //אם העדכון הצליח בבסיס הנתונים, שינוי מצב פרסום המשחק ברשימת המשחקים הקיימת בדף
        if (userRes.IsSuccessStatusCode == true) {
            game.isPublish = !game.isPublish;
        }
        else
        {
            string error = userRes.Content.ReadAsStringAsync().Result;
            // אם נמצא בקונטרולר שמסיבה כלשהי טעינו ובעצם לא ניתן לפרסם את המשחק
            if (error == "This game cannot be published") {
                // נשנה את מצב הפרסום ולא נאפשר לפרסם
                game.isPublish = false;
                game.canPublish = false;
                // נסביר למשתמש מה קרה
                msg = "המשחק אינו מאושר לפרסום";
            }
            else {
                // אחרת נקרא לפונקציית הודעות השגיאה אליה נוסיף את האופציות החדשות
                ShowError(error);
            }
        }
    }

    
    
    
    
    
    
    
    
    
    
    
    
   //ניצור פונקציה שתקבל שגיאה ותציג הודעה בהתאם 
    void ShowError(string error)
    {
        switch (error)
        {
            case "No games for this user":
                msg = "עדין לא יצרת משחקים... זה הזמן ליצור את הראשון :)";
                break;
            case "user is not authenticated":
                msg = "ארעה בעיה בעת אימות המשתמש";
                break;
            case "Game not created":
                msg = "ארעה בעיה בעת יצירת המשחק";
                break;
            case "Game code not created":
                msg = "ארעה בעיה בעת יצירת קוד המשחק";
                break;
            case "It's Not Your Game":
                msg = "המשחק הזה אינו שלך...";
                break;
            case "This game cannot be published":
                msg = "המשחק אינו מאושר לפרסום";
                break;
            case "Update Failed":
                msg = "בעיה בעדכון המשחק";
                break;

        }
    }
}
