
<!-- ניהול משתמשים - רק יוזר מחובר יכול להיכנס -->
@attribute [Authorize]
@page "/GamesList"
@inject HttpClient Http
@using AuthTemplate.Shared.Models;
@inject NavigationManager Nav;

@if (MyGamesList != null)
{
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>שם המשחק</th>
            <th>קוד המשחק</th>
            <th>מספר שאלות</th>
            <th>פרסום</th>
        </tr>
        </thead>
        <tbody>
        @foreach (GameToTableDto game in MyGamesList)
        {
            <tr>
                <td>@game.gameID</td>
                <td>@game.gameName</td>
                <td>@game.gameCode</td>
                <td>@game.questionCount</td>
                <td>
                    @if (game.canPublish == false)
                    {
                        <input type="checkbox" disabled/>
                    }
                    else
                    {
                        <input type="checkbox" checked=@game.isPublish/>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}
<p>הוספת משחק חדש</p>

<EditForm Model="gameToAdd" OnValidSubmit="CreateGame">
    <DataAnnotationsValidator />
    <label> שם המשחק:</label>
    <InputText @bind-Value="gameToAdd.gameName" />
    <ValidationMessage For="@(() => gameToAdd.gameName)"/>
    <label>זמן לשאלה (בשניות):</label>
    <InputNumber @bind-Value="gameToAdd.time" />
    <ValidationMessage For="@(() => gameToAdd.time)" />
    <br />
<label>מעוניין בשיקוי לשחקן?</label>
    <InputCheckbox @bind-Value="gameToAdd.hasPotion" />
    <br />
    <br />
    <input type="submit" value="יצירת משחק" />
</EditForm>

@if (msg != "")
{
    <p>@msg</p>
}

@code {
    // מופע של הDTO שיקושר לתיבת הטקסט
    GameToAddDto gameToAdd = new GameToAddDto();


    [CascadingParameter]
    private User user { get; set; }
    
// פתיחת מופע חדש של המחלקה
    List<GameToTableDto> MyGamesList;
    string msg = ""; 
    int userId = 0;
        //לאחר התחברות המשתמש
    protected override async Task OnParametersSetAsync()
    {
        if (user != null && user.Id > 0)
        {
            //פנייה לקונטרולר ושליפת המשחקים
            var gameResponse = await Http.GetAsync("api/Games/GameList");
            if (gameResponse.IsSuccessStatusCode)
            {
                //השמת הנתונים במופע שפתחנו
                MyGamesList = gameResponse.Content.ReadFromJsonAsync<List<GameToTableDto>>().Result;
            }
            else
            {
                //נטפל במצבים שהיוזר לא רשאי לגשת אל המידע ונאכלס משתנה של הודעה בהתאם
                string error = gameResponse.Content.ReadAsStringAsync().Result;
                ShowError(error);
            }
        }
    }
    async Task CreateGame()
    {
        //שליחת המשחק החדש לקונטרולר
        var newGameRes = await Http.PostAsJsonAsync("api/Games/addGame/", gameToAdd);
        if (newGameRes.IsSuccessStatusCode == true)
        {
            //אם הרשימה ריקה נאתחל אותה
            if (MyGamesList == null)
            {
                MyGamesList = new List<GameToTableDto>();
            }
            msg = "";
            //החזרת המשחק והוספתו לרשימת המשחקים כדי שיתווסף לטבלה
            GameToTableDto newGame = newGameRes.Content.ReadFromJsonAsync<GameToTableDto>().Result;
            MyGamesList.Add(newGame);
            gameToAdd.gameName = "";
        }
        else
        {
            string error = newGameRes.Content.ReadAsStringAsync().Result;
            //קוראים לפונקציה אם יש שגיאה
            ShowError(error);
            
        }
    }
   //ניצור פונקציה שתקבל שגיאה ותציג הודעה בהתאם 
    void ShowError(string error)
    {
        switch (error)
        {
            case "No games for this user":
                msg = "עדין לא יצרת משחקים... זה הזמן ליצור את הראשון :)";
                break;
            case "user is not authenticated":
                msg = "ארעה בעיה בעת אימות המשתמש";
                break;
            case "Game not created":
                msg = "ארעה בעיה בעת יצירת המשחק";
                break;
            case "Game code not created":
                msg = "ארעה בעיה בעת יצירת קוד המשחק";
                break;
        }
    }
}
