
<!-- ניהול משתמשים - רק יוזר מחובר יכול להיכנס -->
@attribute [Authorize]
@page "/GamesList"
@inject HttpClient Http
@using AuthTemplate.Shared.Models;
@inject NavigationManager Nav;

@if (gameList != null)
{
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>שם המשחק</th>
            <th>קוד המשחק</th>
            <th>מספר שאלות</th>
            <th>פרסום</th>
        </tr>
        </thead>
        <tbody>
        @foreach (GameToTableDto game in gameList)
        {
            <tr>
                <td>@game.gameID</td>
                <td>@game.gameName</td>
                <td>@game.gameCode</td>
                <td>@game.questionCount</td>
                <td>
                    @if (game.canPublish == false)
                    {
                        <input type="checkbox" disabled/>
                    }
                    else
                    {
                        <input type="checkbox" checked=@game.isPublish/>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@if (msg != "")
{
    <p>@msg</p>
}

@code {

    [CascadingParameter]
    private User user { get; set; }
    
// פתיחת מופע חדש של המחלקה
    List<GameToTableDto> gameList;
    string msg = ""; 
    int userId = 0;
        //לאחר התחברות המשתמש
    protected override async Task OnParametersSetAsync()
    {
        if (user != null && user.Id > 0)
        {
            //פנייה לקונטרולר ושליפת המשחקים
            var gameResponse = await Http.GetAsync("api/Games/GameList");
            if (gameResponse.IsSuccessStatusCode)
            {
                //השמת הנתונים במופע שפתחנו
                gameList = gameResponse.Content.ReadFromJsonAsync<List<GameToTableDto>>().Result;
            }
            else
            {
                //נטפל במצבים שהיוזר לא רשאי לגשת אל המידע ונאכלס משתנה של הודעה בהתאם
                string error = gameResponse.Content.ReadAsStringAsync().Result;
                switch (error)
                {
                case "No games for this user":
                    msg = "עדיין לא יצרת משחקים. זה הזמן ליצור את המשחק הראשון... :)"; 
                    break;
                case "user is not authenticated":
                    msg = "אירעה בעיה בעת אימות המשתמש";
                    break;
                }
            }
            
        }
    }
}
