@page "/QuestionsEditor/{gameID:int}"
<p>עריכת השאלות</p>
<!-- ניהול משתמשים - רק יוזר מחובר יכול להיכנס -->
@attribute [Authorize]
@using AuthTemplate.Shared.Models
@inject HttpClient Http
@* הוספנו את זה בשביל סייר הקבצים וכפתור נסתר *@
@inject IJSRuntime JS


@* בדיקה שיש שאלות להצגה, כלומר שהרשימה איננה ריקה *@
@if (gameData != null)
{
    <h1>@gameData.gameName</h1>

    @* בדיקה נוספת כדי לוודא שאכן יש שאלות בתוך הרשימה *@
    @if (gameData.Questions != null && gameData.Questions.Count > 0)
    {
        <table class="questions-table">
            <thead>
            <tr>
                <th>השאלה</th>
                <th>מספר פריטים</th>
                <th>מחיקה</th>
            </tr>
            </thead>
            <tbody>
            @* לולאת FOREACH שעוברת לנו על כל שאלה ברשימת השאלות *@
            @foreach (Question question in gameData.Questions)
            {
                int itemsCount = question.Items.Count;

                @* שורה 1: שורת התצוגה הראשית *@
                <tr>
                    <td>
                        <span class="toggle-icon" @onclick="() => ToggleAccordion(question.questionID)">
                            @(openQuestionId == question.questionID ? "▼" : "◀")
                        </span>
                        @question.instruction
                    </td>
                    <td>
                        @itemsCount
                        @if (itemsCount >= 4 && itemsCount <= 8)
                        {
                            <span class="leaf-icon good-count"> 🌿 </span>
                        }
                        else
                        {
                            <span class="leaf-icon bad-count"> 🌿 </span>
                        }
                    </td>
                    <td class="center-text">
                        <button type="button" class="delete-icon" @onclick="() => DeleteQuestionClicked(question)">
                            🗑️
                        </button>
                    </td>
                </tr>

                @* שורה 2: שורת האקורדיון של הפריטים *@
                @if (openQuestionId == question.questionID)
                {
                    <tr>
                        <td colspan="3" class="accordion-cell">
                            <div class="items-container">
                                <!-- אזור הוספת פריט ( התות) -->
                                <div class="strawberry-container">
                                    @if (currentStrawberryItem.answerID > 0)
                                    {
                                        <h3>עריכת פריט</h3>
                                    }
                                    else
                                    {
                                        <h3>הוספת פריט</h3>
                                    } 
                                    

                                    <!-- פתיחת הטופס והגדרת הפונקציה שתפעל בשליחה -->
                                    <EditForm Model="currentStrawberryItem" OnValidSubmit="() => HandleStrawberrySubmit(question)">

                                        <!--  הפעלת ולידציות -->
                                        <DataAnnotationsValidator />
                                        <!-- תנאי שקובע מה יוצג בהתאם לטוגל -->
                                        @if (currentStrawberryItem.isImage == false)
                                        {
                                            @* מצב טקסט: תיבת הטקסט במרכז התות *@
                                            <div class="strawberry-input-wrapper">
                                                <InputTextArea @bind-Value="currentStrawberryItem.content" placeholder="הקלידו כאן..." class="inner-strawberry-input" maxlength="30" />
                                            </div>
                                            <ValidationMessage For="@(() => currentStrawberryItem.content)" />
                                        }
                                        else
                                        {
                                            @* מצב תמונה: התות משמש בתור כפתור שפותח את סייר הקבצים *@
                                            <div class="strawberry-input-wrapper clickable-wrapper" @onclick="TriggerFileInput">
                                                @* בודקים אם המשתנה שלנו קיבל שם של תמונה מהשרת *@
                                                @if (string.IsNullOrEmpty(currentStrawberryItem.content))
                                                {
                                                    @* אם אין עדיין תמונה, אנחנו מציגים את טקסט ברירת המחדל *@
                                                    <p class="inner-strawberry-input upload-text">לחצו להעלאת תמונה</p>
                                                }
                                                else
                                                {
                                                    @* אם יש תמונה, אנחנו מציגים אותה על התות *@
                                                    <img src="uploadedFiles/@currentStrawberryItem.content" class="strawberry-preview-img" />
                                                }
                                            </div>

                                            @* פקד מוסתר להעלאת הקובץ האמיתי  *@
                                            <InputFile id="FileInputID" OnChange="UploadFile" hidden />
                                        }
                                        
                                        <!-- אזור הטוגל המעוצב -->
                                        <div class="toggle-container">
                                            <label class="toggle-switch">
                                                <InputCheckbox @bind-Value="currentStrawberryItem.isImage" @onclick="ClearContent" class="toggle-checkbox" />

                                                <span class="toggle-slider"></span>
                                            </label>
                                            <span class="toggle-label">תמונה</span>
                                        </div>
                                        <!-- כפתור ה-SUBMIT של התות שמשנה את הטקסט שלו -->
                                        @if (currentStrawberryItem.answerID > 0)
                                        {
                                            <button type="submit">שמירת שינויים</button>
                                        }
                                        else
                                        {
                                            <button type="submit">אישור</button>
                                        }
                                        
                                    </EditForm>

                                </div>
                                
                                <div class="silky-head"></div>
                                
                                @* לולאת FOR שמייצרת את גוף התולעת *@
                                @for (int i = 0; i < itemsCount; i++)
                                {
                                    @* משתנה עזר שפתחנו כדי לשמור את הפריט הנוכחי *@
                                    var currentItemForAction = question.Items[i];
                                    
                                 <div class="item-wrapper">
    @* תנאי להצגת לייבל מעל הפריט הראשון והאחרון *@
    @if (i == 0)
    {
        <div class="item-label">
            <span class="edit-icon" title="עריכת תגית התחלה"> ✏️ </span>
            @question.startLabel
        </div>
    }
    else if (i == itemsCount - 1)
    {
        <div class="item-label">
            <span class="edit-icon" title="עריכת תגית סוף"> ✏️ </span>
            @question.endLabel
        </div>
    }
    else
    {
        <div class="item-label-spacer">&nbsp;</div>
    }

    @* כדי שהחצים והקופסה ישבו באותה שורה *@
    <div style="display: flex; align-items: center;">

        @*  חץ ימינה - מקרב לראש התולעת (מקטין אינדקס). מופיע רק אם זה לא הפריט הראשון  *@
        @if (i > 0)
        {
            @* שימוש בפונקציית חץ להעברת הפריט הנוכחי לשיטה  *@
            <button type="button" class="arrow-btn" @onclick="() => MoveRight(currentItemForAction, question.Items)">➡</button>
        }

        <div class="item-box">
            <!-- אזור האייקונים שלנו שמופיעים בריחוף -->
            <div class="action-icons-overlay">

                @* עוטפים את זכוכית המגדלת בתנאי - תופיע רק אם הפריט הוא תמונה *@
                @if (question.Items[i].isImage == true)
                {
                    <!-- אייקון זכוכית מגדלת המפעיל את הפופ-אפ עם פונקציית חץ  -->
                    <img src="/svg/zoomIcon.svg" class="action-icon zoom-icon" alt="הגדלה" @onclick="() => OpenImagePreview(currentItemForAction.content)" />
                }

                <!-- אייקון עיפרון לעריכה -->
                <img src="/svg/editIcon.svg" class="action-icon edit-icon" alt="עריכה" @onclick="() => EditItem(currentItemForAction)" />

                <!-- אייקון פח למחיקה -->
                <img src="/svg/deleteIcon.svg" class="action-icon delete-icon" alt="מחיקה" @onclick="() => DeleteItemFromSilky(currentItemForAction)" />

            </div>

            <!-- תנאי שבודק איזה סוג פריט יש לנו על גוף התולעת -->
            @if (question.Items[i].isImage == false)
            {
                @question.Items[i].content
            }
            else
            {
                @* אם התוכן הוא תמונה, אנחנו מציגים את התמונה מתוך התיקייה *@
                <img src="uploadedFiles/@question.Items[i].content" class="worm-image"/>
            }
        </div>

        @*  חץ שמאלה - מרחיק מראש התולעת (מגדיל אינדקס). מופיע רק אם זה לא הפריט האחרון *@
        @if (i < itemsCount - 1)
        {
            <button type="button" class="arrow-btn" @onclick="() => MoveLeft(currentItemForAction, question.Items)">⬅</button>
        }

    </div>
</div>
                                }
                            </div>
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
        @* כפתור המשני שפותח את חלונית ההוספה *@
        @if (isAddingQuestion == false)
        {
            @* קוראים לקומפוננטה ומעבירים לה את כל הפרמטרים *@
            <MyButton ButtonStyle="secondary"
                      ButtonText="+ ליצור שאלה"
                      OnClickAction="StartAddingQuestion" />
        }

        @* שורת ההוספה שנפתחת  *@
        @if (isAddingQuestion == true)
        {
            <div class="new-question-row">
                @* תיבת טקסט להזנת ההנחיה *@
                <input type="text" @bind="questionToAdd.instruction" maxlength="20" placeholder="הקלידו הנחיה (עד 20 תווים)..." />

                @* כפתור האישור הראשי המעוצב *@
                <MyButton ButtonStyle="primary"
                          ButtonText="אישור"
                          OnClickAction="ConfirmNewQuestion" />
            </div>
        } 

        @if (showQuestionDeletePopup)
        {
            @* אנחנו קוראים לקומפוננטה הכללית של המחיקה ומשתמשים ב-ChildContent להעברת הטקסט  *@
            <GenericDeletePopup OnUserConfirm="ConfirmQuestionDelete">
                <h3 style="color: black;">בטוח שברצונך למחוק את השאלה?</h3>
                <p>@questionToDelete.instruction</p>
            </GenericDeletePopup>
        }

        @* תצוגת פופ-אפ הגדלת תמונה *@
        @if (showImagePopup)
        {
            <ImagePreviewPopup ImageUrl="@currentImageUrl" OnClosePopup="CloseImagePreview" />
        }

    }
    else
    {
        @* כאשר הרשימה ריקה משאלות *@
        <div style="text-align: center; margin-top: 20px;">
            <h3>עדיין אין שאלות במשחק זה ️</h3>
            <p>זה הזמן להתחיל ליצור שאלות!</p>
        </div>
    }
}
else if (errorMsg != "")
{
    <p style="color:red;">שגיאה: @errorMsg</p>
}
else
{
    <p>טוען נתונים...</p>
}

@* אזור הפופ-אפ למחיקת תמונה מהתולעת *@
@if (showDeletePopup == true && itemToDelete != null)
{
    <GenericDeletePopup OnUserConfirm="ConfirmDelete">

        <h2>אוי לא!</h2>
        <p>בטוח שברצונך למחוק את התמונה הזו מהתולעת?</p>
        <img src="uploadedFiles/@itemToDelete.content" width="100" style="border-radius: 8px; margin: 10px 0;" />

    </GenericDeletePopup>
}
@if (showToast)
{
    <Toast OnCloseToast="HideToast">
        המחיקה בוצעה בהצלחה!
    </Toast>
}
@code {
    string myFileImage = "";

    long maxFileSize = 4194304;

    //הפרמטר שמתקבל מהנתיב (מזהה המשחק)
    [Parameter] public int gameID { get; set; }

    //משתנים שנועדו לעזור לנו לפופ-אפ מחיקת שאלה
    bool showQuestionDeletePopup = false;
    Question questionToDelete = null;

    // משתני עזר לפופ-אפ הגדלת תמונה
    bool showImagePopup = false;
    string currentImageUrl = "";

    //משתנים לצורך הוספה של שאלה חדשה 
    bool isAddingQuestion = false;
    QuestionToAdd questionToAdd = new QuestionToAdd();

    //מופע של מחלקה שנועד לשמור את רשימת השאלות ואת שם המשחק מהקונטרולר   
    GameEditDto gameData;
    string successMsg = "";
    string errorMsg = "";

// משתנה לשמירת ה-ID של השאלה הפתוחה כרגע. 0 אומר שהכול סגור.
    int openQuestionId = 0;

    // משתני עזר לפופ-אפ 
    bool showDeletePopup = false;

    SilkyItem itemToDelete = null;

    // משתנה בוליאני שפתחנו לצורך התצוגה של הטוסט
    bool showToast = false;

    // הפונקציה שמקבלת את ה"צלצול" ומאפשרת לסגור את הטוסט
    void HideToast(bool isClosed)
    {
        showToast = false;
        StateHasChanged();
    }

    // פונקציה שמופעלת בלחיצה על זכוכית המגדלת
    void OpenImagePreview(string imageUrl)
    {
        currentImageUrl = imageUrl;
        showImagePopup = true;
    }

    // פונקציה שסוגרת את פופ-אפ הגדלת התמונה
    void CloseImagePreview()
    {
        showImagePopup = false;
        currentImageUrl = "";
    }

    // פונקציה שמופעלת בלחיצה על הכפתור המשני "+ ליצור שאלה"
    void StartAddingQuestion()
    {
        isAddingQuestion = true;

        // אנחנו מאתחלים את המופע עם ערכי ברירת המחדל ושיוך למשחק הנוכחי 
        questionToAdd = new QuestionToAdd
        {
            instruction = "",
            //הוסםנו את המילה this מכיוון שגם לתכונה במודל קוראים gameID. נעזרנו בחקירה עצמית
            gameID = this.gameID,
            startLabel = "ראשון",
            endLabel = "אחרון",
            Items = new List<SilkyItemToAdd>()
        };
    }

    // פונקציה לביטול ההוספה וסגירת השורה
    void CancelNewQuestion()
    {
        isAddingQuestion = false;
    }

    // פונקציה שמופעלת בלחיצה על כפתור "אישור" הראשי
    async Task ConfirmNewQuestion()
    {
        //בדיקת תקינוּת         
        if (string.IsNullOrWhiteSpace(questionToAdd.instruction))
        {
            errorMsg = "יש להזין הנחיה לשאלה";
            return;
        }

        // קריאה לשיטת העדכון בקונטרולר שמטפלת בהוספת שאלה
        var addRes = await Http.PostAsJsonAsync("api/Questions/addQuestion", questionToAdd);

        // אם הקריאה הצליחה
        if (addRes.IsSuccessStatusCode == true)
        {
            //  קריאת השאלה החדשה שחזרה מהשרת 
            var createdQuestion = addRes.Content.ReadFromJsonAsync<Question>().Result;
            
            //  שכבת הגנה ראשונה (לפריטים של השאלה החדשה)
            if (createdQuestion.Items == null)
            {
                // אתחול רשימת הפריטים
                createdQuestion.Items = new List<SilkyItem>(); 
            }

            //  שכבת הגנה שנייה (לשאלות של המשחק)
            // מאחר שבפעם הראשונה הרשימה היא NULL, אנחנו נמנעים ממצב שבו נרצה להוסיף שאלה לתוך NULL
            if (gameData.Questions == null)
            {
                // מאתחל את הרשימה
                gameData.Questions = new List<Question>(); 
            }
            
            //  הוספת השאלה החדשה לרשימה 
            gameData.Questions.Add(createdQuestion);

            //  סגירת שורת ההוספה והעלמת הודעות שגיאה
            isAddingQuestion = false;
            errorMsg = "";
        }
        else
        {
            errorMsg = "שגיאה ביצירת השאלה בשרת";
        }
    }



    // פונקציה שמופעלת מלחיצה על כפתור הפח ומפעילה את הפופ-אפ
    void DeleteQuestionClicked(Question questionClicked)
    {
        questionToDelete = questionClicked;
        showQuestionDeletePopup = true;
    }

    // הפונקציה שמקבלת את ה"פעמון" מהקומפוננטה הגנרית לאישור המחיקה 
    async Task ConfirmQuestionDelete(bool isConfirmed)
    {
        if (isConfirmed == true)
        {
            // אנחנו פונים לשיטת קונטרולר שמיועדת למחיקת שאלה
            var deleteRes = await Http.DeleteAsync("api/Questions/deleteQuestion/" + questionToDelete.questionID);

            if (deleteRes.IsSuccessStatusCode == true)
            {
                // אנחנו מסירים את השאלה מהרשימה כדי שהתצוגה תתעדכן
                gameData.Questions.Remove(questionToDelete);

                //שימוש בטוסט שלנו
                errorMsg = "";
                showToast = true;
                StateHasChanged();

                await Task.Delay(10000);

                if (showToast == true)
                {
                    showToast = false;
                    StateHasChanged();
                }
            }
            else
            {
                errorMsg = "שגיאה במחיקת השאלה מהשרת";
            }
        }

        // סגירת הפופ-אפ
        showQuestionDeletePopup = false;
        questionToDelete = null;
    }

// הפונקציה שמקבלת את "הצלצול" מהקומפוננטה
    void ConfirmDelete(bool isConfirmed)
    {
        // אם המשתמש לחץ על "מחיקה" (הגיע true)
        if (isConfirmed == true)
        {
            ExecuteDeletion(itemToDelete); // שולחים את הפריט לפונקציית המחיקה מול השרת
        }

        // בכל מקרה  אנחנו סוגרים את הפופ-אפ ומנקים את המשתנה
        showDeletePopup = false;
        itemToDelete = null;
    }

//  הפונקציה שמפעילה את פופ-אפ המחיקה כשלוחצים על הפח בתולעת
    void DeleteItemFromSilky(SilkyItem itemClicked)
    {
        if (itemClicked.isImage == true)
        {
            // מצב תמונה: שומרים את הפריט במשתנה העזר, ופותחים את הפופ-אפ
            itemToDelete = itemClicked;
            showDeletePopup = true;
        }
        else
        {
            // מצב טקסט: מוחקים מייד (קריאה ישירה לפונקציית המחיקה)
            ExecuteDeletion(itemClicked);
        }
    }

    //פונקציה א-סינכרונית שמטפלת במחיקת פריט ופונה לקונטרולר של המחיקה
    async Task ExecuteDeletion(SilkyItem item)
    {
        // אם מדובר בתמונה, אנחנו קודם כול מוחקים את התמונה עצמה 
        if (item.isImage == true)
        {
            List<string> imageToDelete = new List<string>();
            imageToDelete.Add(item.content);

            var deleteImageRes = await Http.PostAsJsonAsync("api/Media/deleteImages", imageToDelete);

            if (deleteImageRes.IsSuccessStatusCode == false)
            {
                errorMsg = "שגיאה במחיקת קובץ התמונה מהשרת";
            }
        }

        // אנחנו מוחקים את הפריט מבסיס הנתונים 
        var deleteDbRes = await Http.DeleteAsync("api/Questions/deleteItem/" + item.answerID);

        // כדי להסיר מהתצוגה 
        if (deleteDbRes.IsSuccessStatusCode == true)
        {
            // לולאת FOREACH שעוברת לנו על כל השאלות במשחק כדי למצוא איפה הפריט נמצא 
            foreach (var question in gameData.Questions)
            {
                // אם השאלה הנוכחית מכילה את הפריט שאנחנו רוצים למחוק
                if (question.Items.Contains(item))
                {
                    // אנחנו מסירים אותו מהרשימה הפנימית של השאלה הזו 
                    question.Items.Remove(item);
                    break;
                }
            }

            //עדכון הטוסט (גילינו בחקירה עצמית)
            errorMsg = "";
            showToast = true; // מדליקים את הטוסט
            StateHasChanged(); //פונקציית רענון שגילינו בחקירה עצמית

            await Task.Delay(10000); // השהייה של 10 שניות 

            // אם אחרי 10 שניות הטוסט עדיין דלוק (כלומר, המשתמש לא סגר אותו מהאיקס), נכבה אותו
            if (showToast == true)
            {
                showToast = false;
                StateHasChanged(); //פונקציית רענון שעוזרת להעלים את הטוסט
            }
        }
        else
        {
            errorMsg = deleteDbRes.Content.ReadAsStringAsync().Result;
            showToast = false;
        }
    }

// פונקציה לפתיחה ולסגירה של האקורדיון בטבלה
    void ToggleAccordion(int questionId)
    {
        // אם לחצו על השאלה שכבר פתוחה, נסגור אותה (נאפס ל-0)
        if (openQuestionId == questionId)
        {
            openQuestionId = 0;
        }
        else // אחרת, נפתח את השאלה שעליה לחצו
        {
            openQuestionId = questionId;
            //הוספנו כדי לאפס את התות בכל פעם כשפותחים שאלה חדשה
            currentStrawberryItem = new SilkyItem();
        }
    }


    protected override async Task OnInitializedAsync()
    {
        //אנחנו קוראים לשיטה בקונטולר של עריכת השאלות ומשרשרים את gameID שיתקבל בנתיב
        var response = await Http.GetAsync("api/Questions/getQuestions/" + gameID);
        //בדיקת אם סטטוס התשובה תקין
        if (response.IsSuccessStatusCode == true)
        {
            // אנחנו ממירים את ה-JSON שחזר ושומרים במופע שלנו
            gameData = response.Content.ReadFromJsonAsync<GameEditDto>().Result;

        }
        else
        {
            //המשתנה ERRORMSG מכיל בתוכו את התוכן המחרוזתי של השגיאה
            errorMsg = response.Content.ReadAsStringAsync().Result;
        }
    }

// מופע של התות לקליטת הנתונים
    SilkyItem currentStrawberryItem = new SilkyItem();

    // הפונקציה שמופעלת בלחיצה על התות ופותחת את סייר הקבצים
    async Task TriggerFileInput()
    {
        // הפונקציה הזו מפעילה את קוד ה-JS שכתבנו, ואומרת לו ללחוץ על הפקד שה-ID שלו הוא FileInputID
        await JS.InvokeVoidAsync("triggerFileClick", "FileInputID");
    }


    // הפונקציה שמופעלת מייד לאחר שהמשתמש בחר תמונה
    private async Task UploadFile(InputFileChangeEventArgs e)
    {
        //מעבר על כל תמונה ובדיקה שהגודל לא חורג מהמגבלה
        var imageFiles = e.GetMultipleFiles();
        foreach (var file in imageFiles)
        {
            if (file.Size <= maxFileSize)
            {
                // המרה של התמונה למערך של בתים ולאחר מכן למחרוזת Base64
                var buffer = new byte[file.Size];
                await file.OpenReadStream(maxFileSize).ReadAsync(buffer);
                var imageBase64 = Convert.ToBase64String(buffer);
                // שליחת התמונה לקונטרולר התמונות
                var saveResponse = await Http.PostAsJsonAsync("api/Media/upload", imageBase64);
//אם ההעלאה הצליחה, אנחנו שומרים את השם של התמונה                  
                if (saveResponse.IsSuccessStatusCode == true)
                {
                    // הקונטרולר שומר את התמונה בתיקייה ומחזיר לנו את השם החדש שלה
                    string resizeUrl = saveResponse.Content.ReadAsStringAsync().Result;
                    //  עדכון התות
                    // אנחנו שומרים את שם הקובץ בתוך התוכן של הפריט, ומסמנים שמדובר בתמונה
                    currentStrawberryItem.content = resizeUrl;
                    currentStrawberryItem.isImage = true;
                    //פונקציה לרענון, גילינו אותה דרך חקירה עצמית
                    StateHasChanged();
                }
            }
        }
    }


    //פונקציה א-סינכרונית שמיועדת למצב שבו המשתמש רוצה לשמור את השינויים בהוספת פריט
    async Task UpdateItemInServer(SilkyItem currentItem)
    {
        // אנחנו יוצרים מופע של ה-DTO הייעודי לעדכון 
        // וממלאים אותו בנתונים המעודכנים שהמשתמש הזין בטופס
        SilkyItemToUpdate itemToUpdate = new SilkyItemToUpdate()
        {
            content = currentItem.content,
            isImage = currentItem.isImage,
            orderIndex = currentItem.orderIndex
        };

        //אנחנו שולחים לקונטרולר את קריאת ה-POST 
        // אנחנו משרשרים את ה-ID של הפריט בסוף הנתיב
        var updateResponse = await Http.PostAsJsonAsync("api/Questions/updateItem/" + currentItem.answerID, itemToUpdate);

        //בדיקת תקינוּת
        if (updateResponse.IsSuccessStatusCode == true)
        {
            // כאן תהיה הודעת "נשמר בהצלחה" 
        }
        else
        {
            // אם משהו השתבש, נשלוף את הודעת השגיאה
            string error = updateResponse.Content.ReadAsStringAsync().Result;
        }
    }

    //פונקציית עזר שפתחנו כדי לדעת אם אנחנו בפריט במצב עדכון או הוספה, שכן התות שלנו משמש גם בתור הוספה וגם עדכון
    async Task HandleStrawberrySubmit(Question question)
    {
        // אם לפריט יש ID גדול מ-0, סימן שהוא כבר קיים בבסיס הנתונים שלנו ואנחנו רק עורכים אותו
        if (currentStrawberryItem.answerID > 0)
        {
            //מצב של עדכון פריט
            await UpdateItemInServer(currentStrawberryItem);
        }
        // אם אין לפריט ID, מדובר בפריט חדש שצריך להוסיף לתולעת
        else
        {
            //מצב של הוספת פריט
            await AddNewItemToServer(question);

        }
    }

    async Task AddNewItemToServer(Question currentQuestion)
    {
        // אנחנו מחשבים את האינדקס הבא, כלומר אנחנו לוקחים את כמות הפריטים שכבר קיימת ברשימה של השאלה
        // למשל אם כבר יש 3 פריטים (ה-Count הוא 3), הפריט החדש יקבל אוטומטית את המספר 3 או 4 
        int nextIndex = currentQuestion.Items.Count;
        // ניצור את ה-DTO ליצירת פריט חדש 
        SilkyItemToAdd newItemDto = new SilkyItemToAdd()
        {
            content = currentStrawberryItem.content,
            isImage = currentStrawberryItem.isImage,
            orderIndex = nextIndex,
            questionID = currentQuestion.questionID // מקשרים את הפריט לשאלה הנוכחית
        };

        // אנחנו שולחים קריאת POST לקונטרולר כדי לשמור את הפריט הֶחדש בבסיס הנתונים
        var insertResponse = await Http.PostAsJsonAsync("api/Questions/addItem", newItemDto);

        if (insertResponse.IsSuccessStatusCode == true)
        {
            // אם השמירה בשרת הצליחה, השרת אמור להחזיר לנו את הפריט הֶחדש 
            SilkyItem savedItem = insertResponse.Content.ReadFromJsonAsync<SilkyItem>().Result;

            // אנחנו מוסיפים את הפריט שחזר מהקונטרולר אל התולעת שלנו כדי שהמשתמש יראה אותו
            currentQuestion.Items.Add(savedItem);

            //  אנחנו מאפסים את התות לקראת הפריט הבא
            currentStrawberryItem = new SilkyItem();
        }
        else
        {
            string error = insertResponse.Content.ReadAsStringAsync().Result;
        }
    }
    
    // פונקציה שאחראית לגרור את הפריט ימינה (התקרבות לראש התולעת = אינדקס קטן יותר)
    // הפונקציה מקבלת עכשיו גם את הפריט וגם את הרשימה עצמה 
    void MoveRight(SilkyItem item, List<SilkyItem> currentList)
    {
        // מחפשים את המיקום של הפריט בתוך הרשימה הספציפית שקיבלנו 
        int index = currentList.IndexOf(item);
        
        if (index > 0) 
        {
            var temp = currentList[index - 1];
            currentList[index - 1] = item;
            currentList[index] = temp;
        }
    }

    // פונקציה שאחראית לגרור את הפריט שמאלה (התרחקות מראש התולעת = אינדקס גדול יותר)
    void MoveLeft(SilkyItem item, List<SilkyItem> currentList)
    {
        int index = currentList.IndexOf(item);
        
        if (index < currentList.Count - 1) 
        {
            var temp = currentList[index + 1];
            currentList[index + 1] = item;
            currentList[index] = temp;
        }
    }
    
    
    
    
    
    
    
    
    
    
    
    

    //פונקציה שמופעלת בעת לחיצה על העיפרון שעל גוף התולעת. בעת לחיצה על העיפרון התוכן של הפריט "משוכפל" ומופיע גם על התות שבצד ימין
    void EditItem(SilkyItem itemToEdit)
    {
        // משכפלים את הנתונים של הפריט הנבחר מהתולעת אל תוך התות
        currentStrawberryItem = new SilkyItem()
        {
            answerID = itemToEdit.answerID,
            content = itemToEdit.content,
            isImage = itemToEdit.isImage,
            orderIndex = itemToEdit.orderIndex,
        };
    }

    //פונקציה שפתחנו כדי לנקות את התוכן של המשתנה. בכל לחיצה על הטוגל התוכן מתאפס. 
    void ClearContent()
    {
        // הפונקציה מנקה את הטקסט או את נתיב התמונה מהשדה 
        currentStrawberryItem.content = "";
    }
}
