@page "/QuestionsEditor/{gameID:int}"
<p>עריכת השאלות</p>
<!-- ניהול משתמשים - רק יוזר מחובר יכול להיכנס -->
@attribute [Authorize]
@using AuthTemplate.Shared.Models
@inject HttpClient Http

@* בדיקה שיש שאלות להצגה, כלומר שהרשימה איננה ריקה *@
@if (gameData != null)
{
    <h1>@gameData.gameName</h1>

    //בדיקה נוספת כדי לוודא שאכן יש שאלות בתוך הרשימה
    @if (gameData.Questions.Count > 0)
    {
     //לולאת FOREACH שעוברת לנו על כל שאלה ברשימת השאלות
     @foreach (Question question in gameData.Questions)
     {
         <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
             <h2>השאלה: @question.instruction</h2>
             @* הצגת תגיות הקיצון *@
             <p><strong>תגית התחלה:</strong> @question.startLabel</p>
             <p><strong>תגית סוף:</strong> @question.endLabel</p>
             <ul>
                 @* לולאה שעוברת לנו על הפריטים של כל שאלה *@
                 @foreach (Item item in question.Items)
                 {
                     <li>@item.content</li>
                 }
             </ul>
         </div>
     }   
        
    }
    else
    {
        @* כאשר הרשימה ריקה משאלות *@
        <div style="text-align: center; margin-top: 20px;">
            <h3>עדיין אין שאלות במשחק זה ️</h3>
            <p>זה הזמן להתחיל ליצור שאלות!</p>
        </div>
    }
}
else if (errorMsg != "")
{
    <p style="color:red;">שגיאה: @errorMsg</p>
}
else
{
    <p>טוען נתונים...</p>
}


@code {
    //הפרמטר שמתקבל מהנתיב (מזהה המשחק)
    [Parameter]
    public int gameID { get; set; }
 //מופע של מחלקה שנועד לשמור את רשימת השאלות ואת שם המשחק מהקונטרולר   
GameEditDto gameData;

string errorMsg = "";

   
protected override async Task OnInitializedAsync()
{
    //אנחנו קוראים לשיטה בקונטולר של עריכת השאלות ומשרשרים את gameID שיתקבל בנתיב
    var response = await Http.GetAsync("api/Questions/getQuestions/" + gameID);
    //בדיקת אם סטטוס התשובה תקין
    if (response.IsSuccessStatusCode == true)
    {
        // אנחנו ממירים את ה-JSON שחזר ושומרים במופע שלנו
        gameData = response.Content.ReadFromJsonAsync<GameEditDto>().Result;

    }
    else
    {
        //המשתנה ERRORMSG מכיל בתוכו את התוכן המחרוזתי של השגיאה
        errorMsg = response.Content.ReadAsStringAsync().Result;
    }
} 

}